.popup {
  z-index: 100;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: default;
  visibility: hidden;
}

.popupContent {
  padding: 25px 40px 25px 25px;
  background: #ffffff;
  border-radius: 16px;
  min-width: 250px;
}

.popup.active {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}
